<div class="alert-message d-none" id="alertMessage">
    <div class="message">
        <div class="message-inside">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="message-text"></span>
        </div>
    </div>
</div>
