@page "{userName?}"
@model IndexModel

<div class="row">
    <div class="col-md-3">
        <h2>Left sidebar</h2>
        <h4>
            <a href="#">@Model.TwitterCopyUser.UserName</a>
        </h4>
        <p>
            <a href="#">@@@Model.TwitterCopyUser.UserName</a>
        </p>
    </div>
    
    <div class="col-md-6">
        <h2>Tweets</h2>
    </div>

    <div class="col-md-3">
        <h2>Right sidebar</h2>
    </div>
</div>
