/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding: 0;
    margin: 0;
    background-color: #e6ecf0;
    font-family: "Segoe UI", Arial, sans-serif;
}

b {
    font-weight: normal;
}

img {
    border: 0;
}

h1 {
    font-size: 24px;
    line-height: .8;
}

h2 {
    color: #66757f;
    font-size: 22px;
    line-height: 22px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.alert-message {
    position: fixed;
    top: 46px;
    left: 0;
    right: 0;
    z-index: 999;
    transition: top .5s;
}
.message {
    position: relative;
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0 0 6px 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
.message .message-text {
    display: block;
    margin: 0 20px;
    color: #66757f;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    word-wrap: break-word;
}

.profile-navbar {
    background-color: #fff;
}

.profile-nav.nav .nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #007bff;
    display: block;
    transform: translateY(8px) scale(0);
    transition: all 0.2s;
}

.profile-nav.nav .nav-link:hover::after {
    transform: translateY(8px) scale(1);
}

.profile-nav.nav .nav-link.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #007bff;
    display: block;
    transform: translateY(8px);
}

.profile-nav.nav .nav-link.active:hover {
    color: #007bff;
    cursor: default;
}

.profile-nav-label {
    color: #657786;
    font-weight: bold;
    font-size: 12px;
}

.profile-nav-value {
    display: block;
    color: #657786;
    font-size: 18px;
    font-weight: bold;
    transition: color .15s ease-in-out;
}

.nav-link.active .profile-nav-value {
    color: inherit;
}

.nav-link:hover .profile-nav-value {
    color: #007bff;
}

.nav-link .profile-card-label {
    color: #657786;
    font-size: 12px;
    font-weight: bold;
    transition: color .15s ease-in-out;
}

.nav-link .profile-card-value {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.nav-link:hover .profile-card-value {
    color: #007bff;
}

.nav-link:hover .profile-card-label {
    color: #007bff;
}

.tweet-actionable {
    background: #fff;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.tweet {
    border-bottom: 1px solid #e6ecf0;
    cursor: pointer;
    padding: 9px 12px;
}
.tweet:hover{
    background-color: #f5f8fa;
}

.main-profile-card {
    background: #fff;
}

.username {
    font-size: 14px;
    font-weight: bold;
}

.slug {
    font-size: 14px;
    color: #657786;
}
.slug:hover {
    text-decoration: none;
    color: #657786;
}

.tweet-text {
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 0;
}

a > img:first-child:last-child {
    transition: box-shadow .15s ease-in-out;
}

.main-profile-card-avatar-link,
.profile-header-card-avatar-link {
    background-color: #fff;
    border-radius: 50%;
    padding: 1px;
    vertical-align: bottom;
}
.main-profile-card-avatar,
.profile-header-card-avatar {
    border-radius: 50%;
    height: 72px;
    width: 72px;
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}
.main-profile-card-username {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.main-profile-card-slug {
    font-size: 12px;
    padding-right: 5px;
    color: #66757f;
}
.main-profile-card-bg {
    background-color: #fff;
    background-size: 100%;
    height: 95px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-position: 0 50%;
    width: 100%;
    padding: 0;
}
.main-profile-card-banner {
    width: 100%;
    height: 110px;
    box-sizing: border-box;
}

.profile-canopy-avatar {
    position: absolute;
    z-index: 3;
}
.profile-avatar {
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
}
.profile-avatar-image {
    border-radius: 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.profile-header-card-bg {
    background-color: #fff;
    background-size: 100%;
    height: 110px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-position: 0 50%;
    width: 100%;
    padding: 0;
}

.profile-header-card-username {
    line-height: 1;
}
.profile-header-card-banner {
    width: 100%;
    height: 110px;
    box-sizing: border-box;
}
.profile-header-card-username-link {
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    word-wrap: break-word;
}
.profile-header-card-slug {
    font-size: 14px;
    line-height: 20px;
}
.profile-header-card-slug-link {
    color: #657786;
}
.profile-header-card-bio {
    color: #14171a;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 12px;
    word-wrap: break-word;
}
.profile-header-card-location,
.profile-header-card-website,
.profile-header-card-join {
    color: #657786;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    position: relative;
}
