@page
@model IndexModel

<div class="row">
    <div class="col-md-3">
        <h2>Left sidebar</h2>
        <h4>
            <a asp-page="/Profiles/Index" asp-route-slug="@Model.CurrentUser.Slug">
                @Model.CurrentUser.UserName
            </a>
        </h4>
        <p>
            <a asp-page="/Profiles/Index" asp-route-slug="@Model.CurrentUser.Slug">
                @@@Model.CurrentUser.Slug
            </a>
        </p>
    </div>

    <div class="col-md-6">
        <h2>Tweets</h2>
        <form method="post" id="sendTweetForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Tweet.Text" id="tweetTextInput"
                       class="form-control" placeholder="What's happening?" />
                <span asp-validation-for="Tweet.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tweet" class="btn btn-primary" />
            </div>
        </form>
        @if (Model.FeedTweets.Count() > 0)
        {
            <partial name="_Tweets" model="Model.FeedTweets" />
        }
        else
        {
            <p>There're no tweets yet.</p>
        }
    </div>

    <partial name="_DeleteTweetModal" />

    <div class="col-md-3">
        <h2>Right sidebar</h2>
    </div>
</div>
