@model ProfileInputModel

<div id="profileEdit" class="d-none">
    <form method="post" id="profileEditForm" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="UserName" name="userName" class="form-control" placeholder="Name" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Bio" name="bio" class="form-control" placeholder="Bio" />
            <span asp-validation-for="Bio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Location" name="location" class="form-control" placeholder="Location" />
        </div>
        <div class="form-group">
            <input asp-for="Website" name="website" class="form-control" placeholder="Website" />
            <span asp-validation-for="Website" class="text-danger"></span>
        </div>
        <button class="btn btn-primary d-block mb-2" type="button" data-toggle="collapse" data-target="#avatarEditing"
                aria-expanded="false" aria-controls="avatarEditing">
            Edit Avatar
        </button>
        <div id="avatarEditing" class="collapse mb-2">
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                <input asp-for="Avatar" type="file" name="Avatar"
                       accept="image/png,image/jpeg,image/gif,image/jpg" class="form-control-file" />
            </div>
            <button class="btn btn-danger" type="button" id="removeAvatarBtn">
                <span>Remove avatar</span>
            </button>
        </div>
        <button class="btn btn-primary mb-2" type="button" data-toggle="collapse" data-target="#bannerEditing"
                aria-expanded="false" aria-controls="bannerEditing">
            Edit Banner
        </button>
        <div id="bannerEditing" class="collapse">
            <div class="form-group">
                <label asp-for="Banner" class="control-label"></label>
                <input asp-for="Banner" type="file" name="Banner"
                       accept="image/png,image/jpeg,image/gif,image/jpg" class="form-control-file" />
            </div>
            <button class="btn btn-danger" type="button" id="removeBannerBtn">
                <span>Remove banner</span>
            </button>
        </div>
    </form>
</div>
