@page "{slug}"
@model TwitterCopy.Pages.Profiles.IndexModel


<partial name="_ProfileNav" model="@Model.Profile" view-data="ViewData" />
<div class="row">
    <div class="col-md-3">
        <partial name="_ProfileHeaderCard" model="Model.Profile" />
        <partial name="_ProfileEditForm" model="Model.Input" />
    </div>

    <div class="col-md-6">
        @if (Model.Tweets.Count() > 0)
        {
            foreach (var tweet in Model.Tweets)
            {
                <partial name="_Tweet" model="tweet" />
            }
        }
        else
        {
            <p>User doesn't have Tweets yet.</p>
        }
    </div>

    <partial name="_DeleteTweetModal" />
    <partial name="_TweetModal" />

    <div class="col-md-3">
        <h2>Right sidebar</h2>
    </div>
</div>
