@page "{slug}"
@model TwitterCopy.Pages.Profiles.LikesModel
@{
    ViewData["Title"] = "Likes";
}

<partial name="_ProfileNav" model="@Model.ProfileUser" view-data="ViewData" />
<div class="row">
    <div class="col-md-3">
        <partial name="_ProfileHeaderCard" model="Model.ProfileUser" />
        <partial name="_ProfileEditForm" model="Model.Input" />
    </div>

    <div class="col-md-6">
        @if (Model.LikedTweets.Count() > 0)
        {
            foreach (var tweet in Model.LikedTweets)
            {
                <partial name="_Tweet" model="tweet" />
            }
        }
        else
        {
            <p>User doesn't liked anything yet.</p>
        }
    </div>
</div>
<partial name="_TweetModal" />

